:root {
    --dark-gray: #272727;
    --gray: #3d3c3c;
    --yellow: #E5A024;
    --blue: #0699c0;
    --orange: #cf4327;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--gray);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--orange);
}

.sidebar {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    margin: 0;
    padding: 0 8px 6px 16px;
    display: flex;
    height: 125px;
    width: 125px;
}

.sidebar a:hover {
    background-color: var(--gray);
}

.main {
    margin-left: 125px;
    padding: 0px 10px;
}
