:root {
    --dark-gray: #272727;
    --gray: #3d3c3c;
    --yellow: #E5A024;
    --blue: #0699c0;
    --orange: #cf4327;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--orange);
}

/* Sidebar */

.sidebar {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 0;
}

.sidebar a {
    margin: 0;
    padding: 0;
    display: block;
    height: 125px;
    width: 125px;
    background-color: var(--dark-gray);
}

.sidebar img {
    background-color: var(--dark-gray);
    margin: 0;
    padding: 0;
    display: block;
    height: 125px;
    width: 125px;
    z-index: 1;
}

.sidebar img:hover {
   background-color: var(--gray);
}

/* End Sidebar */

/* Main Section */

.main {
    position: relative;
    margin-left: 125px;
    padding: 0 0;
}

#hero {
    position: relative;
}

#video {  
    min-width: 100%;
    min-height: 100px;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

.overlay {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

/* End Main */

/* About Me */

#about-me, #projects, #contact {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray);
    justify-content: center;
    align-content: center;
}

.abtitle h1, #projects h1, .contacts h1 {
    text-align: center;
    margin: 5px;
    font-size: 50px;
}

.abcontent {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.abcontent img {
    margin: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 210px;
    width: 200px;
}

.abcontent p {
    margin: auto;
    padding: 0 20px;
}


/* End About Me */

/* Projects */

#projects h1 {
    color: var(--yellow);
}

.run-buddy a, .run-buddy img {
    width: 90%;
    display: flex;
    margin: auto;
    padding: 20px;
}

.example, .example1 {
    display: flex;
    margin: 0 20px 20px 20px;
    padding: 0 20px 50px 20px;
}

/* End Projects */

/* Contact */

.contacts h1 {
    color: var(--blue);
}

.filler {
    display: flex;
    flex-wrap: wrap;
}
.filler img {
    width: 300px; 
    height: 300px;
}

/* End Contact*/

/* media queries */

@media screen and (max-width: 670px) {
    .overlay img {
        width: 100%;
    }
    
    .abcontent {
        display: flex;
        flex-wrap: wrap;
    }

    #projects img {
        width: 90%;
        display: flex;
        margin: auto;
        padding: 20px;
    }
    
}